<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add</title>
</head>
<body>
  <form action="/" method="POST"> 
    Operand 1 : <input type="text" name="a"><br /><br />
    Operand 2 : <input type="text" name="b"><br /><br />
    <input type="submit" value="Submit"><br />
  </form>
</body>
</html>


