<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Display</title>
    </head>
    <body>
        Name : {{name}}<br />
        Gender : {{gender}}<br />
        Department : {{department}}<br />
        Languages : {{languages}}<br />
    </body>
</html>


