<!DOCTYPE html>
<html lang="en">
<head>
  <title>Form</title>
</head>
<body>
  <form action="/" method="POST">
    Name: <input type="text" name="name" > <br /><br />
    
    Gender: <br />
    Male <input type="radio" name="gender" value="M">
    Female <input type="radio" name="gender" value="F"> <br /><br />

    Department: <select name="department">
      <option value="CSE">Computer Science Engineering</option>
      <option value="ISE">Information Science Engineering</option>
      <option value="ECE">Electronics and Communication Engineering</option>
      <option value="ME">Mechanical Engineering</option>
      <option value="CV">Civil Engineering</option>
    </select><br /><br/>

    Languages:<br />
    Telugu <input type="checkbox" name="languages" value="TEL">
    Kannada <input type="checkbox" name="languages" value="KAN">
    English <input type="checkbox" name="languages" value="ENG"><br /><br />

    <input type="submit" value="Submit">
  </form>
</body>
</html>
