<html>
  <head>
  </head>
  <body>
     <form action="/" method="POST"> 
        X Co-ord : <input type="text" name="x"><br /><br />
        Y Co-ord : <input type="text" name="y"><br /><br />
        <input type="submit" value="Submit"><br />
     </form>
   </body>
</html>


